[Desktop Entry]
Categories=Development;
Comment[en_US]=Supercharge your API workflow
Comment=Supercharge your API workflow
Exec=/opt/Postman/app/postman
GenericName[en_US]=
GenericName=
Icon=/home/notscripter/Postman/app/resources/app/assets/icon.png
MimeType=
Name[en_US]=Postman
Name=Postman
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
