@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
  font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial,
    sans-serif;
  border: none;
  border-radius: 0px;
}

window#waybar {
  background-cybar olor: transparent;
  border-bottom: 0px solid #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
  margin: 10px 10px 10px 10px;
  border-radius: 15px;
  border: 0px;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  color: @crust;
}

#workspaces button {
  padding: 5px 5px 1px 5px;
  margin: 4px 3px;
  border-radius: 15px;
  border: 0px;
  color: @text;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: @crust;
  background: @lavender;
  min-width: 40px;
}

#workspaces button:hover {
  color: @crust;
  background: @lavender;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  border-radius: 10px;
  background-color: @lavender;
  opacity: 0.8;
  padding: 20px;
  margin: 0px;
}

tooltip label {
  color: @crust;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
  background: @lavender;
  margin: 10px 15px 10px 0px;
  padding: 4px 10px 0px 10px;
  border-radius: 15px;
  color: @crust;
  font-size: 16px;
  font-weight: normal;
}

window#waybar.empty #window {
  background-color: transparent;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
  background: @lavender;
  margin: 6px 15px 6px 0px;
  padding: 0px;
  border-radius: 15px;
  font-weight: normal;
  font-style: normal;
  border: 3px solid @lavender;
}

#taskbar button {
  margin: 0;
  border-radius: 15px;
  padding: 0px 5px 0px 5px;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-browser,
#custom-filemanager,
#network,
#pulseaudio,
#battery,
#custom-appmenu,
#clock,
#cpu,
#memory,
#temperature {
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  padding: 4px 10px 2px 10px;
}

#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10 {
  padding: 0px;
  margin-right: 7px;
  font-size: 20px;
  color: @lavender;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenu {
  background-color: @lavender;
  color: @crust;
  border-radius: 15px;
  margin: 10px 10px 10px 10px;
  font-size: 16px;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
  margin: 2px 20px 0px 10px;
  padding: 0px;
  font-size: 20px;
  color: @red;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#disk,
#memory,
#cpu,
#temperature {
  font-size: 16px;
  background-color: @lavender;
  color: @crust;
  padding: 2px 5px 0px 5px;
  margin: 10px 0px 10px 0px;
}

#cpu {
  border-radius: 15px 0px 0px 15px;
  padding-left: 10px;
}

#temperature {
  border-radius: 0px 15px 15px 0px;
  padding-right: 10px;
  margin-right: 10px;
}

#language {
  margin-right: 10px;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
  background-color: @lavender;
  font-size: 16px;
  color: @crust;
  border-radius: 15px;
  margin: 10px 7px 10px 0px;
  padding: 2px 10px 0px 10px;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
  background-color: @lavender;
  font-size: 16px;
  color: @crust;
  border-radius: 15px;
  margin: 10px 10px 10px 0px;
}

#pulseaudio.muted {
  background-color: @lavender;
  color: @crust;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
  background-color: @lavender;
  font-size: 16px;
  color: @crust;
  border-radius: 15px;
  margin: 10px 10px 10px 0px;
}

#network.ethernet {
  background-color: @lavender;
  color: @crust;
}

#network.wifi {
  background-color: @lavender;
  color: @crust;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth,
#bluetooth.on,
#bluetooth.connected {
  background-color: @lavender;
  font-size: 16px;
  color: @crust;
  border-radius: 15px;
  margin: 10px 15px 10px 0px;
}

#bluetooth.off {
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
  background-color: @lavender;
  font-size: 16px;
  color: @crust;
  border-radius: 15px;
  margin: 10px 15px 10px 0px;
}

#battery.charging,
#battery.plugged {
  color: @crust;
  background-color: @lavender;
}

@keyframes blink {
  to {
    background-color: @lavender;
    color: @crust;
  }
}

#battery.critical:not(.charging) {
  background-color: @red;
  color: @crust;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
  margin: 0px 10px 0px 0px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */

label:focus {
  background-color: #000000;
}

#backlight {
  background-color: #90b1b1;
}

#network {
  background-color: #2980b9;
}

#network.disconnected {
  background-color: @red;
}
