@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
  font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial,
    sans-serif;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-size: 1rem;
}

window#waybar {
  border-radius: 1rem;
  background-color: @red;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#cpu,
#memory,
#temperature,
#window,
#workspaces,
/* #custom-browser, */
/* #custom-filemanager, */
#network,
#pulseaudio,
#battery,
#clock,
#custom-appmenu {
  font-weight: bold;
  padding: 0 1rem;
  margin: 0.5rem 1rem 0.5rem 0;
  border-radius: 1rem;
}

#custom-notification,
#custom-exit,
#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10 {
  font-size: 1.4rem;
  color: @lavender;
  padding: 0;
  margin: 0.5rem 1rem 0.5rem 0;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
}

#workspaces button {
  color: @text;
  font-weight: bold;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: @crust;
  background: @lavender;
  min-width: 2rem;
}

#workspaces button:hover {
  color: @crust;
  background: @lavender;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  border-radius: 1rem;
  background-color: alpha(@lavender, 0.8);
  opacity: 1;
  padding: 1rem;
  margin: 1rem;
}

tooltip label {
  color: @crust;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
  background-color: @lavender;
  color: @crust;
}

window#waybar.empty #window {
  background-color: transparent;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
  background-color: @lavender;
  margin: 0.4rem 1rem 0.4rem 0px;
  padding: 0px;
  border-radius: 1rem;
  font-weight: normal;
  font-style: normal;
  border: 3px solid @lavender;
}

#taskbar button {
  margin: 0;
  border-radius: 1rem;
  padding: 0 0.4rem 0 0.4rem;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

#custom-notification {
  /* margin-right: 1rem; */
  /* font-family: "NotoSansMono Nerd Font"; */
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenu {
  background-color: @lavender;
  color: @crust;
  border-radius: 1rem;
  margin-left: 1rem;
}
/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
  color: @red;
  margin-right: 1rem;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

/* #group-hardware { */
/*   color: @crust; */
/*   background-color: @lavender; */
/* } */

#disk,
#memory,
#cpu,
#temperature {
  background-color: @lavender;
  color: @crust;
  padding: 0 0.4rem;
  margin-left: 0;
  margin-right: 0;
}

#cpu {
  border-radius: 1rem 0 0 1rem;
  padding-left: 1rem;
}

#memory {
  border-radius: 0;
}

#temperature {
  border-radius: 0 1rem 1rem 0;
  padding-right: 1rem;
  margin-right: 1rem;
}

#language {
  margin-right: 1rem;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
  background-color: @lavender;
  color: @crust;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
  background-color: @lavender;
  color: @crust;
}

#pulseaudio.muted {
  background-color: @lavender;
  color: @crust;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
  background-color: @lavender;
  color: @crust;
}

#network.ethernet {
  background-color: @lavender;
  color: @crust;
}

#network.wifi {
  background-color: @lavender;
  color: @crust;
}

#network.disconnected {
  background-color: @red;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth,
#bluetooth.on,
#bluetooth.connected {
  background-color: @lavender;
  color: @crust;
}

#bluetooth.off {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
  background-color: @lavender;
  color: @crust;
  border-radius: 1rem;
  margin: 1rem 1rem 1rem 0;
}

#battery.charging,
#battery.plugged {
  color: @crust;
  background-color: @lavender;
}

@keyframes blink {
  to {
    background-color: @lavender;
    color: @crust;
  }
}

#battery.critical:not(.charging) {
  background-color: @red;
  color: @crust;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
  margin: 0 1rem 0 0;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */

label:focus {
  background-color: #000000;
}

#backlight {
  background-color: #90b1b1;
}
